
<!-- 
=============================================
	Theme Header
============================================== 
-->
<header class="theme-menu-wrapper">
	<div class="container">
		<div class="top-header clearfix">
			<p class="float-left"><a href="{{ site.url }}">Jasa Iklan Google Adwords</a></p>
			<ul class="float-right">
				<li>Hotline &nbsp; <a href="{{ site.url }}" class="tran3s">{{ site.info_whatsapp }}</a></li>
				<li><a href="{{ site.sosmed_facebook }}" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="{{ site.sosmed_twitter }}" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="{{ site.sosmed_instagram }}" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
		</div> <!-- /.top-header -->

		<div class="header-wrapper clearfix">
			<!-- Logo -->
			<div class="logo float-left">
				<a href="{{ site.url }}" title='{{ site.title }}'>
					<h1>Pasang Iklan Google Adwords & Youtube</h1>
				</a>
			</div>

			<!-- ============================ Theme Menu ========================= -->
			<nav class="theme-main-menu navbar float-right" id="mega-menu-wrapper">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav">
						<li {% if page.this_page == 'home' %}class="active"{% endif %}>
							<a href="{{ site.url }}" title='{{ site.title }}' class="tran3s">Home</a>
						</li>
						<li {% if page.this_page == 'rate-iklan' %}class="active"{% endif %}>
							<a href="{{ site.url }}#" title='Rate Pasang Iklan Google 2018' class="tran3s">Daftar Harga Iklan</a>
						</li>
						<li {% if page.this_page == 'jadwal-acara' %}class="active"{% endif %}>
							<a href="{{ site.url }}#" title='Jaringan Pasang Iklan Google' class="tran3s">Jaringan Iklan</a>
						</li>
						<li {% if page.this_page == 'produksi-iklan' %}class="active"{% endif %}>
							<a href="{{ site.url }}#" title='Produksi Pasang Iklan Google' class="tran3s">Produksi Iklan</a>
						</li>
						<li {% if page.this_page == 'kontak' %}class="active"{% endif %}>
							<a href="{{ site.url }}#" class="tran3s" title="Kontak Pasang Iklan Google">Kontak</a>
						</li>
						
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav> <!-- /.theme-main-menu -->
		</div> <!-- /.header-wrapper -->
	</div> <!-- /.container -->
</header> <!-- /.theme-menu-wrapper -->
